:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

/* reset */

body, p, a, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* base styles */

body {
  background-color: #faf8ef;
  color: #776e65;
  overflow: hidden;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0
}

h1 {
  font-size: 5em;
  margin: 1rem 0;
}

.App {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 90vh;
}

.header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 30rem;
}

/* 
#overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 0px 50px;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 4rem;
  text-align: center;
  color: #746d64;
}

#overlay h1 {
  margin: 0px;
}

#overlay p {
  margin: 0px;
} */

.score-container {
  display: flex;
}

.score-container .score-card {
  margin-left: 0.5rem;
}

@media screen and (min-width: 560px) {
  :root {
    font-size: 18px;
  }
  .header {
    justify-content: space-between;
  }
}

@media screen and (min-width: 960px) {
  :root {
    font-size: 20px
  }
}

@media screen and (min-width: 1200px) {
  :root {
    font-size: 22px
  }
}